h1,
h2,
h3 {
    margin-block-end: .2em
}

h2 {
    font-size: 2.5em
}

h1 {
    color: #fff;
    margin-block-start: .2em;
    margin-block-end: .2em
}

h4 {
    margin: .2em;
    font-size: 1.3em
}

.content,
.image,
.main,
.menu {
    float: left
}

h1,
h2 {
    margin-block-start: .2em
}

* {
    box-sizing: border-box
}

html {
    background: #f1f1f1
}

.header {
    background-color: #121258;
    padding: 1px;
    text-align: center;
    border-top: 4px solid #ffc039
}

.menu {
    width: 300px;
    text-align: left;
    padding: 20px;
    background: #f7f7f7
}

.menu-right {
    float: right;
    width: 20%;
    text-align: left;
    padding: 20px;
    background: #f7f7f7
}

body {
    font-family: 'Average Sans', sans-serif;
    margin: 0
}

.content,
.menu,
.recipe,
.topmenu {
    margin-left: auto;
    margin-right: auto
}

h1 {
    font-size: 2.5em
}

a {
    color: #121258
}

.menu a {
    background-color: #f1f1f1;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: #000
}

.topmenu {
    width: 900px
}

.footer,
.main {
    background: #f7f7f7
}

.fname,
.footer {
    text-align: center;
    color: #959898
}

.main {
    width: 100%;
    padding: 0 20px
}

.footer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 110px;
    vertical-align: top;
    font-size: 1.3em;
    line-height: 5.4em
}

.footer:after,
.footer:before {
    content: " ";
    position: absolute;
    width: 50%;
    height: 100px;
    z-index: -10
}

.shadow:after,
.shadow:before {
    bottom: 0;
    width: 400px;
    height: 50px;
    border-radius: 125px/12px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .4)
}

.shadow:before {
    left: 5%
}

.shadow:after {
    right: 5%
}

.fname {
    margin-top: 6px;
    padding-bottom: 20px
}

.image {
    width: 25%;
    padding: 20px
}

.imagef {
    display: none
}

.home-content {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 600px
}

.metro-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: auto
}

.metro-trains {
    display: inline-block;
    text-align: left;
    width: auto
}

.metro-select {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 12px;
    border: 1px solid #ffc039;
    border-radius: 4px;
    background-color: #29435c;
    color: #d1d4c9;
    font-size: .9em
}

.metro-btn {
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: .375rem;
    margin: 3px;
    width: 64px;
    background-color: transparent;
    text-align: center
}

.metro-map {
    width: 100%;
    min-height: 435px;
    margin-top: 15px;
    background-color: #d1d4c9;
}

.btn-green-active {
    color: #d5d5d5;
    background-color: #28a745;
    border-color: #28a745
}

.btn-red-active {
    color: #d5d5d5;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-blue-active {
    color: #d5d5d5;
    background-color: #007bff;
    border-color: #007bff
}

.btn-silver-active {
    color: #45494e;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-orange-active {
    color: #45494e;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-green {
    color: #198754;
    border-color: #198754
}

.btn-red {
    color: #dc3545;
    border-color: #dc3545
}

.btn-blue {
    color: #0d6efd;
    border-color: #0d6efd;
}

.btn-silver {
    color: #6c757d;
    border-color: #6c757d
}

.btn-orange {
    color: #ffc107;
    border-color: #ffc107
}

.metro-list {
    list-style-type: none;
    padding: 0;
    margin: 8px
}

.content {
    width: 55%
}

@media only screen and (max-width:620px) {

    .content,
    .home-content,
    .main,
    .menu,
    .recipe {
        width: 100%
    }

    .recipe {
        margin-bottom: 20px
    }

    .image {
        display: none
    }

    .imagef {
        display: inline
    }

    .menu {
        text-align: center
    }

    h2 {
        font-size: 1.5em
    }
}

@media only screen and (max-width:900px) {
    .shadow:before {
        bottom: 0;
        width: 90%;
        height: 50px;
        border-radius: 125px/12px;
        box-shadow: 0 0 50px rgba(0, 0, 0, .4)
    }

    .shadow:after {
        display: none
    }
}

@media only screen and (max-width:920px) {

    .menu,
    .menu2 {
        text-align: center
    }

    .main,
    .menu,
    .menu2,
    .recipe,
    .topmenu {
        width: 100%
    }

    .menu {
        padding: 0
    }

    .menu2 {
        padding: 20px 0 0
    }

    h2 {
        font-size: 1.5em
    }
}

@media (prefers-color-scheme:dark) {
    html {
        background: #152a38
    }

    .header {
        background-color: #29435c;
        padding: 1px;
        text-align: center;
        border-top: 4px solid #ffc039
    }

    a,
    body,
    h1,
    h2,
    h3,
    li {
        color: #d1d4c9
    }

    .footer,
    .main {
        background: #132531
    }

    .menu {
        background: #132531
    }

    .menu a {
        background-color: #29435c;
        color: #d1d4c9
    }
}